# Directories
/.vagrant
.idea
/build
/*/data
/*/logs
/*/_meta/kibana/index-pattern
/.svn
logs

# Files
.DS_Store
/glide.lock
*.dev.yml
*.generated.yml
coverage.out

# Editor swap files
*.swp
*.swo
*.swn

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.test
*.prof
*.pyc

# Node
src/main/frontend/node_modules
bundle.js
npm-debug.log

# Build Files #
bin
target
build/
.gradle

# IntelliJ IDEA Files #
*.iml
*.ipr
*.iws
*.idea